<li>
    <a href="/" title="<%=albumlist.info %>">
        <div class="cover">
            <b><%=albumlist.album %></b>
            <i>创建者:<%=albumlist.name %></i>
            <i> 文章:<%=albumlist.num %></i>
        </div>
    </a>
</li>